<div class="row">
  <div class="col-6">
    <h3> Historial de Transferencias</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="3">Destinatario</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody *ngIf="transfers.length">
        <tr *ngFor="let t of transfers">
          <th scope="row">{{t.receiver.name}}</th>
          <td>{{t.receiver.rut}}</td>
          <td>{{t.receiver.account}}</td>
          <td>{{t.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <app-transfer-form></app-transfer-form>
  </div>
</div>  